nav {
  margin: 2% 20px 0 20px;

  hr {
    border-color: black;
    margin-bottom: 5px;
  }

  img {
    height: 50px;
    margin-left: 3px;
    cursor: pointer;
  }

  ul {
    padding-left: 20px;

      li {
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        margin-top: 16px;

        p {
          cursor: pointer;
          display: inline-block;
        }
      }

  }
}

.hero {
  margin: 2px 20px 0 20px;

  img {
    width: 100%;
  }
}

footer {
  margin: 25px 20px 0 20px;

  hr {
    border-color: black;
    width: 100%;
  }
}

.boots {
  height: 530px;
  margin: 5px 20px 0 20px;
}
