nav {
  margin: 2% 20px 0 20px;

  hr {
    border-color: black;
    margin-bottom: 5px;
  }

  img {
    height: 50px;
    margin-left: 3px;
    cursor: pointer;
  }

  ul {
    padding-left: 20px;

      li {
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        margin-top: 16px;

        p {
          cursor: pointer;
          display: inline-block;
        }
      }

  }
}

.hero {
  margin: 2px 20px 0 20px;

  img {
    width: 100%;
  }
}

footer {
  margin: 25px 20px 0 20px;

  hr {
    border-color: black;
    width: 100%;
  }
}

.boots {
  margin-top: 5px;

  .product {

    img {
      width: 60%;
      margin-left: 50px;
    }

    .product-info {

      p {
        margin: -5px;
      }
    }
  }
}

.pdp {

  .pdp-top {

    img {
      margin-top: 15px;
      margin-left: 75px;
      width: 70%;
    }

    .grey-bar {
      height: 400px;
      width: 10px;
      background-color: rgb(250,250,250);
      border-right: lightgrey solid 1px;
      border-left: lightgrey solid 1px;
    }
  }

  .pdp-text {
    margin-left: 10px;
  }

  .pdp-bottom {
    text-align: center;

    h4 {
      padding: 30px;
    }

    img {
      width: 60%;
      margin-left: 50px;
    }

    .product-info {
      text-align: left;
      margin-left: 60px;
    }

  }
}
