<hr>
<div class="cartheader">
	<h2 class="yourcart">YOUR CART</h2>
	<button type="button" class="btn btn-default continue" ui-sref="shop">Continue Shopping</button>
</div>



<div class="row">
	
	<div class="col-xs-6 col-md-3">
		<img src='{{ products.selected_product[0].image }}' class="bootimg"/>
	</div>

	<div class="col-xs-6 col-md-3">
   		<p class="product-cart-name">{{ products.selected_product[0].name }}</p>
	</div>

	<div class="col-xs-6 col-md-3">
		<p class="product-cart-name">Quantity: {{products.selected_product.length}}</p>
	</div>


	
	<div class="col-xs-6 col-md-3">
		<p class="product-cart-name">{{ products.selected_product[0].price | currency:"$" }}</p>
	</div>

</div>

<div class="row">
	
	<div class="col-xs-6 col-md-3">
		<img src='{{ products.selected_product[1].image }}' class="bootimg"/>
	</div>

	<div class="col-xs-6 col-md-3">
   		<p class="product-cart-name">{{ products.selected_product[1].name }}</p>
	</div>

<!-- 	<div class="col-xs-6 col-md-3">
		<p class="product-cart-name">Quantity: {{products.selected_product.length}}</p>
	</div>

	<div class="col-xs-6 col-md-3">
		<p class="product-cart-name">{{ products.selected_product[1].price | currency:"$" }}</p>
	</div> -->

</div>

<div class="row"></div>
	<button class='btn btn-default cart confirm' ui-sref='confirmation'>Confirm</button>


