<div class="container pdp">

    <div class="pdp-top">
      <div class="col-xs-5">
        <img src="{{ products.selected_product[0].image }}" alt="" />
      </div>
      <div class="col-md-1">
        <div class="grey-bar"></div>
      </div>
      <div class="col-xs-6">
        <div class="pdp-text">
          <h3>{{ products.selected_product[0].name }}</h3>
          <h3>{{ products.selected_product[0].price | currency:"$" }}</h3>
        </div>
        <div class="add-to-cart">
          <button type="button" class="btn btn-default cart">Add to cart</button>
        </div>

        <!--  tabs system  -->
        <div>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ui-sref-active="active"><a ui-sref='.description' role="tab" data-toggle="tab">Description</a></li>
            <li role="presentation" ui-sref-active='active'><a ui-sref='.ratings' aria-controls="profile" role="tab" data-toggle="tab">Ratings and Reviews</a></li>
            <li role="presentation" ui-sref-active='active'><a ui-sref='.questions' aria-controls="profile" role="tab" data-toggle="tab">Q & A</a></li>
          </ul>

          <div class="tab-text">
            <ui-view>
            <p>{{ products.selected_product[0].description }}</p>
          </div>

        </div>

      </div>
    </div>

    <div class="pdp-bottom">
      <div class="col-xs-12">
        <h4>YOU MAY ALSO LIKE</h4>
      </div>

      <div class="col-xs-6 col-md-4" ng-repeat='obj in products.productList | limitTo:3'>
        <div class="product" ui-sref='product.description' ng-click='products.bootPicker(obj)'>
          <img src='{{ obj.image }}' alt="kiffen" />
          <div class="product-info">
            <p>{{ obj.name }}</p>
            inline rating
          </div>
        </div>
      </div>

    </div>

</div>
