<div class="container">
  <div class="row boots">
    <div class="col-sm-4">
      <div class="product">
        <img src="/images/kiffen.jpg" alt="kiffen" />
        <div class="product-info">
          <p>Kiffen</p>
          <p>$569.00</p>
          inline rating
        </div>
      </div>

      <div class="product">
        <img src="/images/kiffen.jpg" alt="kiffen" />
        <div class="product-info">
          <p>Kiffen</p>
          <p>$569.00</p>
          inline rating
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="product">
        <img src="/images/kiffen.jpg" alt="kiffen" />
        <div class="product-info">
          <p>Kiffen</p>
          <p>$569.00</p>
          inline rating
        </div>
      </div>

      <div class="product">
        <img src="/images/kiffen.jpg" alt="kiffen" />
        <div class="product-info">
          <p>Kiffen</p>
          <p>$569.00</p>
          inline rating
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="product">
        <img src="/images/kiffen.jpg" alt="kiffen" />
        <div class="product-info">
          <p>Kiffen</p>
          <p>$569.00</p>
          inline rating
        </div>
      </div>

      <div class="product">
        <img src="/images/kiffen.jpg" alt="kiffen" />
        <div class="product-info">
          <p>Kiffen</p>
          <p>$569.00</p>
          inline rating
        </div>
      </div>
    </div>
  </div>
</div>
