nav {
  margin: 0 20px 0 20px; }
  nav hr {
    border-color: black;
    margin-bottom: 5px; }
  nav img {
    height: 50px;
    margin-left: 3px;
    cursor: pointer; }
  nav ul {
    padding-left: 20px; }
    nav ul li {
      list-style: none;
      font-family: 'Montserrat', sans-serif;
      margin-top: 16px; }
      nav ul li p {
        cursor: pointer;
        display: inline-block; }

.hero {
  margin: 2px 20px 0 20px; }
  .hero img {
    width: 100%; }

footer {
  margin: 25px 20px 0 20px; }
  footer hr {
    border-color: black;
    width: 100%; }

.boots {
  margin-top: 5px; }
  .boots .product img {
    width: 60%;
    margin-left: 50px; }
  .boots .product .product-info p {
    margin: -5px; }

.pdp .pdp-top img {
  margin-top: 15px;
  margin-left: 75px;
  width: 60%; }

.pdp .pdp-top .grey-bar {
  height: 330px;
  width: 10px;
  background-color: #fafafa;
  border-right: lightgrey solid 1px;
  border-left: lightgrey solid 1px; }

.pdp .pdp-top .cart {
  margin: 5px 0 10px 0;
  width: 150px;
  background-color: #7e7e7e;
  color: white; }

.pdp .pdp-top .nav a {
  color: black; }

.pdp .pdp-top .tab-text {
  padding: 10px; }

.pdp .pdp-bottom {
  text-align: center; }
  .pdp .pdp-bottom h4 {
    padding-top: 30px; }
  .pdp .pdp-bottom img {
    width: 60%;
    margin-left: 50px; }
  .pdp .pdp-bottom .product-info {
    text-align: left;
    margin-left: 60px; }
