nav {
  margin: 2% 20px 0 20px; }
  nav hr {
    border-color: black;
    margin-bottom: 5px; }
  nav img {
    height: 50px;
    margin-left: 3px; }
  nav ul {
    padding-left: 20px; }
    nav ul li {
      list-style: none;
      font-family: 'Montserrat', sans-serif;
      margin-top: 16px; }
      nav ul li a {
        text-decoration: none;
        color: black; }
        nav ul li a:hover {
          text-decoration: none;
          color: black; }

.hero {
  margin: 5px 20px 0 20px; }
  .hero img {
    width: 100%; }

footer {
  margin: 25px 20px 0 20px; }
  footer hr {
    border-color: black;
    width: 100%; }
